<div class="box" [ngSwitch]="userStatus">
  <div *ngSwitchCase="'register'">
    <button (click)="setAuthType('login')" class="top-buttons">Have account</button>
    <button class="top-buttons active" disabled>Register</button>
    <input name="name" [(ngModel)] = "userRegister.name" type="name" placeholder="Name">
    <input name="username" [(ngModel)] = "userRegister.username" type="username" placeholder="Username">
    <input name="password" [(ngModel)] = "userRegister.password" type="password" placeholder="Password">
    <button class="bottom-button" (click)="signIn();" type="button">Sign in</button>
    <p class="fail">{{loginMessage}}</p>
  </div>
  <div *ngSwitchCase="'login'">
    <button class="top-buttons active" disabled>Have account</button>
    <button (click)="setAuthType('register')" class="top-buttons">Register</button>
    <input name="username" [(ngModel)] = "user.username" type="username" placeholder="Username">
    <input name="password" [(ngModel)] = "user.password" type="password" placeholder="Password">
    <button class="bottom-button" (click)="logIn();" type="button">Log in</button>
    <p class="fail">{{loginMessage}} </p>
  </div>
  <div *ngSwitchCase="'logged'">
    <button class="bottom-button"(click)="logOut()" >Logout</button>
    <p class="success">{{loginMessage}}</p>
    <p>Hello {{actualUserName}}</p>
    <ul *ngFor="let skill of actualUserData.skills">
      <li>{{skill.skill}} is level: {{skill.level}}</li>
    </ul>
  </div>
</div>
<ng-container *ngFor="let user of allUsersData">
  <div class="box">
    <h2>{{user.name}}</h2>
    <ng-container *ngFor="let skill of user.skills">
      <div>{{skill.skill}} is level: {{skill.level}}</div>
    </ng-container>
  </div>
</ng-container>

